@model IList<AntJob.Data.Entity.JobError>
@using NewLife;
@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
    var fields = ViewBag.Fields as List<FieldItem>;
}
<style>

    .OverFlow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 400px;
    }
</style>
<table class="table table-bordered table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th class="text-center hidden-md hidden-sm hidden-xs"><a href="@Html.Raw(page.GetSortUrl("ID"))">编号</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("AppID"))">应用</a></th>
            <th class="text-center" style="min-width:134px;"><a href="@Html.Raw(page.GetSortUrl("TaskItemID"))">任务项</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("Step"))">步进</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("BatchSize"))">批大小</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("Key"))">数据键</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("ErrorCode"))">错误码</a></th>
            <th class="text-center">内容</th>
            <th class="text-center" style="min-width:134px;"><a href="@Html.Raw(page.GetSortUrl("UpdateTime"))">更新时间</a></th>
            @if (this.Has(PermissionFlags.Detail, PermissionFlags.Update, PermissionFlags.Delete))
            {
                <th class="text-center" style="min-width:100px;">操作</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                <td class="text-center hidden-md hidden-sm hidden-xs">@entity.ID</td>
                <td><a href="Job?AppID=@entity.AppID">@entity.AppName</a></td>
                <td><a href="JobTask?JobID=@entity.JobID">@entity.JobName</a></td>
                <td class="text-right">@entity.Step.ToString("n0")</td>
                <td class="text-right">@entity.BatchSize.ToString("n0")</td>
                <td>@entity.Key</td>
                <td>@entity.ErrorCode</td>
                <td class="OverFlow" title="@entity.Message">@entity.Message</td>
                <td>@entity.UpdateTime.ToFullString("")</td>
                @if (this.Has(PermissionFlags.Detail, PermissionFlags.Update, PermissionFlags.Delete))
                {
                    <td class="text-center">
                        @await Html.PartialAsync("_List_Data_Action", (Object)entity)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>